@font-face {
    font-family: iransans;
    src: url('../fonts/iransans/IRANSansWeb.eot');
    src: url('../fonts/iransans/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iransans/IRANSansWeb.woff2') format('woff2'),
        url('../fonts/iransans/IRANSansWeb.woff') format('woff'),
        url('../fonts/iransans/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    font-family: iransans;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    direction: rtl;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}
a,a:hover{
    text-decoration: none;
}
/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}
h1 , .h1 {
    font-size: 2.2rem;
}
h2,
.h2 {
    font-size: 2rem;
}
h3,
.h3 {
    font-size: 1.8rem;
}
h4,
.h4{
    font-size: 1.6rem;
}
h5,
.h5 {
    font-size: 1.4rem;
}
h6,
.h6 {
    font-size: 1.2rem;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/**** main menu nav header  *****/
nav.main-nav-Wrraper {
    width: 100%;
    height: 60px;
    background: #9f69f1;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.64);
    position: fixed;
    top: 0;
    z-index: 4;
}
#main-menu-id{
    transition: .5s;
}
#main-menu-id.hide {
    transform: translateY(-100%);
}
.menu-btn-mobile {
    display: none;
    background: transparent;
    border: 1px solid #fff;
    margin-right: 15px;
    color: #fff;
    font-size: 1.5rem;
    padding: 5px 11px;
    transition: all .4s;
    line-height: 20px;
}
.menu-btn-mobile i{
    padding: 0;
    margin: 0;
}
.menu-btn-mobile:hover{
    background-color: #fff;
    color: #9f69f1;
}
.menu-btn-mobile:focus{
    border-color: #fff;
    outline: #fff;

}
.main-menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 5px 0;
}
.main-menu-list {
    display: flex;
    flex-flow: wrap;
}
.main-menu-list li .link-mneu-tag {
    font-size: 1rem;
    color: #e9e9e9;
    padding: 0 15px;
    transition: all .4s;
}
.main-menu-list li .link-mneu-tag:hover,
.main-menu-list li .link-mneu-tag.active {
    color: #fff;
}
/***** mobile nav menu ****/
.mobile-nav-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 9;
    transition: all .5s;
    transform: translateX(100%)
}
.mobile-nav-menu.show {
    transform: translateX(0)
}
.mobile-nav-bg {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgb(125, 75, 202);
    background: linear-gradient(317deg, rgba(125, 75, 202, 1) 0%, rgba(159, 105, 241, 1) 100%);
}
.menu-heading-nav {
    width: 100%;
    background: #9f69f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.48);
}
.title-m-d {
    font-size: 1.2em;
    text-align: right;
    color: #fff;
    text-align: center;
}
.mobile-main-menu {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}
#close-menu-btn {
    background: transparent;
    border: 0;
    color: #fff;
}
#close-menu-btn:focus{
    outline: 0;
}
.link-mneu-mobile {
    width: 100%;
    display: block;
    padding: 5px 15px;
    font-size: 1rem;
    color: #fff;
    transition: all .4s;
    border-bottom: 1px solid #8453ce;
}
.link-mneu-mobile:hover,
.link-mneu-mobile:focus{
    color:#fff;
    background-color: #7d4bca;
}
.logo-nav-mobile {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 140px;
    padding: 1em 0;
}
/******** header content style  ******/
.header-section {
    padding-top:60px;
    width: 100%;
    background: #7d4bca;
    overflow: hidden;
    position: relative;
}
.header-content-area {
    color: #fff;
}
.header-content-area span {
    display: block;
    font-size: .85rem;
    margin-bottom: 10px;
}
.header-ol-list li {
    list-style: decimal;
    font-size: .9rem;
    padding-top: 10px;
}
.header-content-title small {
    background: #fff;
    color: #7d4bca;
    padding: 0 7px;
}
.header-shap-wrapper {
    position: absolute;
    top: 60px;
    right: 0;
    transform: rotateX(180deg) scale(3.8);
}
ol.header-ol-list {
    padding: 10px 40px;
}
.header-shap-wrapper-tow {
    position: absolute;
    left: 0%;
    top: 0;
    transform: translateX(-85%) scale(3.5);
}
.header-shap-wrapper-tow svg,
.header-shap-wrapper svg {
    width: 100%;
    height: 100%;
}
.shape-circle {
    width: 160px;
    position: absolute;
    right: -12px;
    top: 0;
    z-index: 0;
}
.shape-circle-tow {
    width: 230px;
    position: absolute;
    left: 2%;
    bottom: 5%;
    z-index: 0;
}
/* button style costom */
.btn-custom {
    display: inline-block;
    font-weight: 400;
    color: #363636;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid #363636;
    padding: .375rem .75rem;
    font-size: 0.9rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;
    transition:all .4s;
}
.btn-custom:hover {
    background-color:#9f69f1;
    color: white;
    border: 2px solid #9f69f1;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(159, 105, 241, 0.61);
    -moz-box-shadow: 0px 2px 15px 0px rgba(159, 105, 241, 0.61);
    box-shadow: 0px 2px 15px 0px rgba(159, 105, 241, 0.61);
}
.btn-white{
    background-color:transparent;
    color: white;
    border: 2px solid #fff;
}
.btn-white:hover{
    background-color:transparent;
    color: white;
    border: 2px solid #fff;
    box-shadow: none;
    opacity: .7;
}
.btn-Purple {
    background-color: #7d4bca;
    color: #fff;
    border: 2px solid #7d4bca;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.53);
    transition:all .4s;
}
.btn-Purple:hover {
    background-color: #7d4bca;
    border: 2px solid #6c3cb4;
    box-shadow: none;
}
.btn-info {
    background-color: #9f69f1;
    border: 2px solid #9f69f1;
    color: #fff;
    -webkit-box-shadow: -1px 6px 24px -3px rgba(159, 105, 241, 0.8);
    -moz-box-shadow: -1px 6px 24px -3px rgba(159, 105, 241, 0.8);
    box-shadow: -1px 6px 24px -3px rgba(159, 105, 241, 0.8);
    transition: .4s;
}
.btn-info:hvoer{
    box-shadow: 0;
}
/****** input custom  *****/
.form-control-custom {
    display: block;
    width: 100%;
    height: calc(2.25rem + 12px);
    padding: .8rem .75rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #555555;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #a7a7a7;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.bg-opacity-5{
    background-color: rgba(255, 255, 255, .4);
}
.form-control-custom:focus{
    border-color :#9f69f1;
    outline: 1px;
}
textarea.form-control-custom {
    height: auto;
}
/******** custom progress *****8*/
.progress-custom {
    display: flex;
    height: 8px;
    font-size: .75rem;
    background-color: transparent;
    border: 1px solid #575757;
}
.progress-bar-custom {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #575757;
    transition: width .6s ease;
    position: relative;
}
.progress-bar-custom::before{
    content: "";
    width: 15px;
    height: 15px;
    background-color: #575757;
    position: absolute;
    top: -5;
    left: -5px;
    border-radius: 50%;

}
.pull-row-flex {
    position: relative;
    flex-flow: row-reverse;
}

/******** about me section  *******/
.about-me-section {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-title {
    font-size: 1.6rem;
    padding-bottom: .8em;
}
.text-about p {
    font-size: .8rem;
    color: #152136;
}
.my-image-col {
    display: flex;
    justify-content: center;
}
.my-image-col img{
   -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.46);
   -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.46);
   box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.46);
}
.image-ablout-me{
    position: relative;
    z-index: 2;
}
.image-ablout-me::before ,
.image-ablout-me::after{
    content: "";
    width: 100%;
    height: 90px;
    background-color: #7d4bca;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: .3rem .3rem;
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.46);

}
.image-ablout-me::before{
    top: -15px;
    right: -15px;
}
.image-ablout-me::after {
    bottom: -15px;
    left: -15px;
}
/* experience section style */
.experience-section {
    width: 100%;
    position: relative;
    background-color: #f8f3ff;
    overflow: hidden;
}
.experience-image-area {
    display: flex;
    justify-content: center;
    max-width: 250px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.section-heading-discription {
    font-size: .8rem;
    margin-bottom: 3em;
    color: #413333;
    line-height: 28px;
}
.section-heading-title {
    font-size: 1.4rem;
    color: #000;
    padding-bottom: .8em;
}
.section-heading-title span {
    color: #9f69f1;
}
.experience-card {
    margin-bottom: 20px;
    background: #9f69f1;
    -webkit-box-shadow: 0px 2px 15px 1px rgba(159, 105, 241, 1);
    -moz-box-shadow: 0px 2px 15px 1px rgba(159, 105, 241, 1);
    box-shadow: 0px 2px 15px 1px rgba(159, 105, 241, 1);
}
.title-experience {
    display: flex;
    justify-content: space-between;
}
.experience-btn {
    width: 100%;
    background: transparent;
    border: 0;
    font-size: .9rem;
    color: #fff;
    cursor: pointer;
    text-align: right;
    padding: 20px;
}
.experience-btn:focus{
    outline: 0;
}
.working-time {
    color: #e8daff;
    font-size: .8rem;
    margin-top: 7px;
}
.experience-card-body {
    padding: 0 20px;
    font-size: .8rem;
    color: #eae1f7;
    padding-bottom: 20px;
}
.circle-shape {
    width: 200px;
    position: absolute;
    z-index: 0;
    opacity: .6;
}
.experience-shape-one {
    left: -2%;
    top: 20px;
}
.experience-shape-tow {
    bottom: 0;
    right: -4%;
}
.accordion{
    z-index: 1;
}
/******** services section  *****/
.services-section{
    width: 100%;
    padding: 80px 0;
    background-color: #fff;
}
.box-service {
    width: 100%;
    border: 1px solid #9a5cf8;
    padding: 2.5em 1.3em;
    transition: all .4s;
    background-color:#fff;
    cursor: pointer;
    margin-bottom: 1.5em;
}
.box-service:hover {
    background-color:#9f69f1;
    -webkit-box-shadow: 0px 2px 19px 0px rgba(159, 105, 241, 1);
    -moz-box-shadow: 0px 2px 19px 0px rgba(159, 105, 241, 1);
    box-shadow: 0px 2px 19px 0px rgba(159, 105, 241, 1);
}
.box-service:hover .icon-box-service,
.box-service:hover .box-tiitle-service,
.box-service:hover .box-discription-service {
    color: #fff;
}
.icon-box-service {
    font-size: 1.8rem;
    color: #9f69f1;
    padding-bottom: .4em;
}
.box-tiitle-service {
    font-size: 1.1rem;
    color: #000;
    padding-bottom: .7em;
}
.box-discription-service {
    font-size: .8rem;
    color: #343f51;
}

/****** section portfolio ******/
.portfolio-section {
    width: 100%;
    max-width: 1500px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.row-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}
.portfolio-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
}
.img-to-show {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all 1s;
}

.portfolio-box::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #9f69f2;
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    opacity: .3;
}
/******* testimonial section  ******/
.box-coments {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding:0 20px;
    margin: 15px 0;
    -webkit-box-shadow: -2px 5px 14px 1px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -2px 5px 14px 1px rgba(0, 0, 0, 0.29);
    box-shadow: -2px 5px 14px 1px rgba(0, 0, 0, 0.29);
    
}
.icon-coment {
    font-size: 8rem;
    color: #9f69f1;
}
.coment-title {
    font-size: 1rem;
    color: #575757;
}

.coment-author {
    font-size: .85rem;
    padding: 10px 0;
    color: #152136;
}
.coment-text {
    font-size: .9rem;
    color: #152136;
}
.testimonial-section {
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
}
.carousel-indicators li{
    background-color: #040404;
}
.carousel-indicators{
    bottom: -40px;
    z-index: 3;
}
.carousel-control-next,
.carousel-control-prev{
    color:#040404;
    display: none;
}
/****** counter-up section ******/
.section-counter-up{
    width: 100%;
    padding: 5em 0;
    background-color: #9f69f1;
    -webkit-box-shadow: inset 0px 0px 41px -9px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: inset 0px 0px 41px -9px rgba(0, 0, 0, 0.29);
    box-shadow: inset 0px 0px 41px -9px rgba(0, 0, 0, 0.29);
}
.counter-box {
    padding: 10px 0;
    border-left: 1px solid #fff;
}
.counter-box-end{
    border-left:0
}
.number-counter {
    color: #fff;
    font-size: 2rem;
}

.text-counter {
    color: #ece5f7;
    font-size: .9rem;
}
/******* blog section content ********/
.box-blog-post {
    max-width: 340px;
    background: #fff;
    -webkit-box-shadow: -5px 6px 19px -6px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: -5px 6px 19px -6px rgba(0, 0, 0, 0.43);
    box-shadow: -5px 6px 19px -6px rgba(0, 0, 0, 0.43);
    margin: 15px 0;
}
.box-blog-post:hvoer{
    box-shadow: 0;
}
.blog-container-section {
    width: 100%;
    padding: 60px 0;
    background-color: #f8f3ff;
}
.blog-image-area {
    width: 100%;
    max-height: 240px;
    overflow: hidden;
}
.blog-post-content {
    padding: 20px;
}
.data-blog-psot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row-reverse;
    padding:15px 0;
    font-size: .9rem;
}
.blog-post-title {
    font-size: 1.2rem;
    min-height: 82px;
    line-height: 34px;
    padding-bottom: 15px;
}
.blog-post-text {
    font-size: .9rem;
    padding-bottom: 1.5em;
}

.blog-post-read-more {
    font-size: .95rem;
    color: #2f3132;
    font-weight: 700;
}
.blog-post-read-more:hover{
    color: #9f69f1;
}
.count-coment,
.publish-date {
    display: flex;
    align-items: center;
}
.publish-date i ,
.count-coment i{
    padding-left: 6px;
}
/********* countact us section ********/
.contact-us-section {
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
}
.bg-contact{
    padding: 60px 0;
    background-image: url(../image/contact-us-bg.jpg);
    background-position: center;
    background-size: cover;
}
/******** footer style *******/
footer {
    width: 100%;
    padding: 60px;
    background-color: #9f69f1;
    position: relative;
    overflow: hidden;
}
.footer-logo {
    display: flex;
    justify-content: center;
}
.footer-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row-reverse;
    margin: 1em 0;
}
.footer-social-media li a{
    font-size: 1rem;
    color: #fff;
    padding: 15px;
    transition: .4s;
}
.footer-social-media li a:hover{
    color: #d6c9e9;
}
.copy-right-text {
    color: #ebe5f3;
    font-size: .85rem;
}
.copy-right-text a{
    color: #fff;
}
.copy-right-text a:hover{
    color: #3a3a3a;
}
.footer-one {
    top: 0;
    right: -2%;
}
.footer-tow {
    bottom: -20%;
    left: -5%;
}
@media screen and (max-width: 1690px) {
    
}

@media screen and (max-width: 1280px) {
    
}

@media screen and (max-width: 980px) {
    
}
@media screen and (max-width: 920px) {
    .header-shap-wrapper-tow {
        display: none;
    }
    
}
@media screen and (max-width: 768px) {
    .menu-btn-mobile{
        display: block;
    }
    .header-section{
        height: auto;
        padding-top: 65px;
    }
    .row-portfolio{
        flex-flow: column;
    }
    .pull-row-flex {
        flex-flow: column;
    }
    .header-shap-wrapper{
        display: none;
        transform: rotateX(180deg) scale(2.8);
    }
    .pull-row-flex .col-12{
        z-index: 2;
    }
    .main-menu-list{
        display: none;
    }
    .box-coments {
        width: 90%;
        margin: 20px auto;
    }
    .experience-shape-tow {
        bottom: -40px;
        right: -18%;
    }
    .experience-shape-one {
        left: -14%;
        top: -35px;
    }
    .circle-shape{
        width: 110px;
    }
    .counter-box{
        border-left: 0;
        border-bottom: 1px solid #fff;
        text-align: center;
    }
    .counter-box-end{
        border-bottom: 0;
    }
    .form-contact-us {
        padding: 10px;
    }
    .box-blog-post{
        margin: 15px auto;
    }
}

@media screen and (max-width: 480px) {
   .header-content-area h1{
       font-size: 1.3rem;
   }
   .experience-shape-one {
       left: -18%;
       top: -6px;
   }
   .experience-shape-tow {
       bottom: -46px;
       right: -12%;
   }
}